/ATK.class
/AtkActionIface.class
/AtkAttribute.class
/AtkComponentIface.class
/AtkEditableTextIface.class
/AtkHypertextIface.class
/AtkObjectClass.class
/AtkSelectionIface.class
/AtkTableIface.class
/AtkTextIface.class
/AtkTextRange.class
/AtkTextRectangle.class
/AtkValueIface.class
